body
{
    background: url("../img/background.jpg") no-repeat fixed;
}

#blogBody
{
    margin-top: 70px;
    background: whitesmoke;
}

#blogHeader
{
    background: whitesmoke;
    padding: 60px 10% 10%;
    height: 20%;
    opacity: 0.89;
    box-shadow: 0 0 55px 55px whitesmoke;
    /*display: none;*/
}
#blogHeader .blog-title
{
    font-size: 50px;
}


